<a href="https://colab.research.google.com/github/Geobalies2019/CSS50_Tutorial/blob/main/python_tut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
n = int(input("Number: "))

if n > 0:
    print("n is positive")
elif n < 0:
    print("n is negative")
else:
    print("n is zero")

Number: 1
n is positive

In [10]:
#sequences
name = "Harry"

print(name[4])

y

In [14]:
names = ["harry", "Ron", "Drake"]

print(names[2])

Drake

In [15]:
coordinateX = 10.0
coordinateY = 20.0

In [16]:
#Tuple
cordinate = (10.0, 20.0)

#List - sequence of mutable values
#tuple - sequence of immutable values
#set - collection of unique values
#dict - collection of key-value pairs

In [24]:
names = ["harry", "Ron", "Drake", "Jake"] # Define a list of names
print(names)

['harry', 'Ron', 'Drake', 'Jake']

In [19]:
print(names[2])

Drake

In [25]:
names.append("Deco")
print(names)

['harry', 'Ron', 'Drake', 'Jake', 'Deco']

In [28]:
names.sort()  #we care about order
print(names)

['Deco', 'Drake', 'Jake', 'Ron', 'harry']

In [34]:
# create an empty set
s = set()

#add elemet to set
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(5)
s.add(2)
print(s) #Note no element appeared twice

{1, 2, 3, 4, 5}

In [35]:
#remove element
s.remove(5)
print(s)

{1, 2, 3, 4}

In [36]:
print(f"The set has {len(s)} elements")

The set has 4 elements